<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Quiz Training</title>
        <th:block th:replace="layout/fragments/head_content" />
<!--        <link rel="stylesheet" th:href="@{/webjars/dragula/3.7.2/dist/dragula.min.css}">-->
    </head>
    <body>
        <div th:unless="${#bools.isTrue(hideNavBar)}">
            <th:block th:replace="layout/fragments/nav" />
        </div>

        <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/popper.js/1.15.0/umd/popper.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js}"></script>
<!--        <script type="text/javascript" th:src="@{/webjars/dragula/3.7.2/dist/dragula.min.js}"></script>-->

        <!-- Page Content -->
        <div layout:fragment="content"></div>
    </body>
</html>
