<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.11.2/css/fontawesome.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.11.2/css/solid.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css}">
<link rel="stylesheet"  type="text/css" th:href="@{/css/styles.css}" />

