<th:block xmlns:th="https://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg custom-navbar shadow mb-3">
        <a class="navbar-brand text-info" th:href="@{/}">IntPrep</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/createquestion">Questions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/questionpool">Exercises</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gotocreatelabel">Labels</a>
            </li>
        </ul>
        <div class="mr-auto"></div>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
            <input class="btn btn-light" type="submit" value="Logout"/>
        </form>
    </nav>
</th:block>
