<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Question form</title>
</head>
<body>
<div layout:fragment="content">
    <select class="selectpicker" multiple>
        <option>Mustard</option>
        <option>Ketchup</option>
        <option>Relish</option>
    </select>

    <div class="container col-md-4 text-center">
        <form action="/loadquestions" method="post">
            <button class="btn btn-outline-info" type="submit">Load Questions</button>
        </form>
    </div>


    <div class="container text-center" th:each="question: ${questions}">
        <div th:if="${question.type.name() == 'SINGLE_CHOICE'}">
            <div th:replace="widgets/single_choice_question :: singleChoiceFragment(question=${question})"></div>
        </div>
        <div th:if="${question.type.name() == 'MULTIPLE_CHOICE'}">
            <div th:replace="widgets/multiple_choice_question :: multipleChoiceFragment(question=${question})"></div>
        </div>
        <br />
    </div>
    <script th:inline="javascript">

        function toggleAnswer(questionId) {
            var answerPanel = $('#'+questionId);
            if (answerPanel.is(":hidden") === true) {
                answerPanel.show();
            } else {
                answerPanel.hide();
            }
        }
    </script>
</div>
</body>
</html>
