<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Question form</title>
</head>
<body>
<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
<div layout:fragment="content">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-2 p-0">
            <div class="nav flex-column nav-tabs" id="questions-tab-names-holder" role="tablist" aria-orientation="vertical">
                <a class="nav-link disabled btn btn-outline-secondary" id="pill-title" data-toggle="pill" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Question Type</a>
                <a class="nav-link active" id="pill-single-choice" data-toggle="pill" href="#pill-content-single-choice" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">Singe Choice</a>
                <a class="nav-link" id="pill-multiple-choice" data-toggle="pill" href="#pill-content-multiple-choice" role="tab"
                   aria-controls="v-pills-messages" aria-selected="false">Multiple Choice</a>
                <a class="nav-link" id="pill-open" data-toggle="pill" href="#pill-content-open" role="tab"
                   aria-controls="v-pills-messages" aria-selected="false">Open</a>
            </div>
        </div>
        <div class="col-8 border border-info">
            <div class="tab-content" id="questions-tab-content-holder">
                <div class="tab-pane fade show active" id="pill-content-single-choice" role="tabpanel" aria-labelledby="pill-content-single-choice">
                    Question:
                    <form th:object="${question}" th:action="@{/createupdatequestion}" method="post">
                        <input type="hidden" th:value="${T(com.ee.intprep.common.QuestionType).SINGLE_CHOICE}" name="questionType">
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{text}"/>
                        </div>
                        <div class="form-group row">
                            <label for="singleChoicePossibleAnswer" class="col-sm-3 col-form-label">Choice:</label>
                            <div id="singleChoiceRadioContainer"></div>
                            <div class="input-group col-sm-9">
                                <input type="text" class="form-control" id="singleChoicePossibleAnswer"
                                       placeholder="Add possible answers"/>
                                <input type="hidden" id="singleChoiceValues" name="singleChoiceAnswers" required/>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-sm"
                                            onclick="addSingleChoiceValue('singleChoiceRadioContainer', 'singleChoiceExpectedAnswer', $('#singleChoicePossibleAnswer').val());">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </div>

                        <select th:field="*{labels}" multiple class="form-control" id="selectLabelsOnSingleChoice">
                            <option th:each="label : *{labels}" th:value="${label.id}" th:text="${label.name}">
                            </option>
                        </select>

                        <input style="margin: 5px 0" class="btn btn-success float-right" type="submit" value="Save Question" />
                    </form>
                </div>
                <div class="tab-pane fade" id="pill-content-multiple-choice" role="tabpanel" aria-labelledby="pill-content-multiple-choice">
                    Question:
                    <form th:object="${question}" th:action="@{/createupdatequestion}" method="post">
                        <input type="hidden" th:value="${T(com.ee.intprep.common.QuestionType).MULTIPLE_CHOICE}" name="questionType">
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{text}"/>
                        </div>
                        <div class="form-group row">
                            <label for="multipleChoicePossibleAnswer" class="col-sm-3 col-form-label">Choice:</label>
                            <div id="multipleChoiceCheckboxContainer"></div>
                            <div class="input-group col-sm-9">
                                <input type="text" class="form-control" id="multipleChoicePossibleAnswer"
                                       placeholder="Add possible answers"/>
                                <input type="hidden" id="multipleChoiceValues" name="multipleChoiceAnswers" required/>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-sm"
                                            onclick="addMultipleChoiceValue('multipleChoiceCheckboxContainer', 'multipleChoiceExpectedAnswers', $('#multipleChoicePossibleAnswer').val());">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </div>

                        <select th:field="*{labels}" multiple class="form-control" id="selectLabelsOnMultipleChoice">
                            <option th:each="label : *{labels}" th:value="${label.id}" th:text="${label.name}">
                            </option>
                        </select>

                        <input style="margin: 5px 0" class="btn btn-success float-right" type="submit" value="Save Question" />
                    </form>
                </div>
                <div class="tab-pane fade" id="pill-content-open" role="tabpanel" aria-labelledby="pill-content-open">
                    Question:
                    <form th:object="${question}" th:action="@{/createupdatequestion}" method="post">
                        <input type="hidden" th:value="${T(com.ee.intprep.common.QuestionType).OPEN}" name="questionType">
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{text}"/>
                        </div>
                        <select th:field="*{labels}" multiple class="form-control" id="selectLabelsOnOpen">
                            <option th:each="label : *{labels}" th:value="${label.id}" th:text="${label.name}">
                            </option>
                        </select>

                        <input style="margin: 5px 0" class="btn btn-success float-right" type="submit" value="Save Question" />
                    </form>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <script th:inline="javascript">

        var singleAnswers = [];
        var multipleChoiceAnswers = [];

        function addSingleChoiceValue(containerId, radioName, radioValue) {
            var radioBtn = $('<input type="radio" name="'+radioName+'" value="' + radioValue + '">' + radioValue + '</input>');
            radioBtn.appendTo('#'+containerId);

            singleAnswers.push(radioValue);

            $('#singleChoicePossibleAnswer').val('');
            $('#singleChoiceValues').val(singleAnswers);
        }

        function addMultipleChoiceValue(containerId, checkboxName, checkboxValue) {
            var checkBox = $('<input type="checkbox" name="'+checkboxName+'" value="' + checkboxValue + '">' + checkboxValue + '</input>');
            checkBox.appendTo('#'+containerId);

            multipleChoiceAnswers.push(checkboxValue);

            $('#multipleChoicePossibleAnswer').val('');
            $('#multipleChoiceValues').val(multipleChoiceAnswers);
        }
    </script>
</div>
</body>
</html>
