<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div class="border rounded" style="background-color: #CCEBEF;" th:fragment="multipleChoiceFragment (question)">
    <div class="container text-left" th:utext="${question.text}"></div>
    <div class="container text-left">
        <div class="form-check form-check-inline" th:each="choice: ${question.choices}">
            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="multipleChoicePossibleAnswer" value="option1">
            <label class="form-check-label" for="multipleChoicePossibleAnswer" th:text="${choice}">1</label>
        </div>
    </div>
    <button th:onclick="|toggleAnswer('${question.id}')|">Answer</button>
    <div style="display: none;" th:id="${question.id}">
        <div class="form-check form-check-inline" th:each="choice: ${question.expectedValue}">
            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="multipleChoiceAnswer" value="option1">
            <label class="form-check-label" for="multipleChoiceAnswer" th:text="${choice}">1</label>
        </div>
    </div>
</div>
</body>
</html>
