<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div class="border rounded" style="background-color: #CCEBEF;" th:fragment="singleChoiceFragment (question)">
    <div class="container text-left" th:utext="${question.text}"></div>
    <div class="container text-left">
        <div class="form-check form-check-inline" th:each="choice: ${question.choices}">
            <input class="form-check-input" type="radio" th:name="inlineRadioOptions+${question.id}" th:id=${question.id} th:value="${choice}">
            <label class="form-check-label" th:for=${question.id} th:text="${choice}">1</label>
        </div>
    </div>
    <button th:onclick="|toggleAnswer('${question.id}')|">Answer</button>
    <div style="display: none;" th:id="${question.id}">
        <div class="form-check form-check-inline" th:each="choice: ${question.expectedValue}">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="singleChoiceAnswer" th:value="option1" checked>
            <label class="form-check-label" for="singleChoiceAnswer" th:text="${choice}">1</label>
        </div>
    </div>
</div>
</body>
</html>
